*{
    font-family: 'Montserrat', sans-serif;
}
.row{
    margin-right: 0; 
    margin-left: 0; 
}
/* sección splash */

/* #splash{
    display: none; */

.background-body{
  background-color: #F3F0DF;
  
}
.minh-100{
    height: 100vh;
}

/* sección presentación */
/* #presentacion{
    display:none;
} */
#presentacion p{
    font-size: 18px;
}

.caja-ejemplo{
    background-color: #0037E9;
    opacity: 0.3;
    height: 220px;
}

.titulo-carrousel{
    height: 130px;
}
h3{
    font-weight: 800!important;
    color: #505050;
    font-size: 20px!important;
}

/* sección login */

.texto-login{
    
    color: #505050;
    padding-top: 20px; 
    font-size: 20px;
}

.btn-registrar{
    width: 307px;
    height: 48px;
    background: #67377D;
    border-radius: 60px;
    color: white;
}

.btn-iniciar{
    width: 307px;
    height: 48px;
    border-radius: 60px;
    background:#F3F0DF;
    color:#67377D;
    border: 1px solid #67377D;
    font-weight: 600!important;
    
}

.texto-pequeno{
    font-size: 18px!important;
    text-decoration: underline;
}

#sesion input {
    height: 48px;
    background-color: transparent;
    border: 1px solid #67377D;
}

/* .mostrar-logos{
    display: none;
}

.logos-rrss {
    justify-content: center;
    text-align: center;
}

.logos-rrss a {
    font-size: 25px;
    color: azure;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
}

.logos-rrss a:hover{
    opacity: 0.6;
    text-decoration: none;
    transition: 0.4s;
}

.btn-rrss{
    background: none;
    border: 0;
     color: inherit;

     font: inherit;
     line-height: normal;

.azul-facebook{
    background-color: #3b5998;
}

.celeste-twitter{
    background-color: #1da1f2;
}
.rojo-googlemas{
    background-color: #ea4335;
} */

/* Navbar */

/* #nav{
    display:none;
} */

.bottom{
  box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #FFFFFF;
  position: relative;
}
#nav img {
    width: 70px;
}

/* sección activar ubicación */
#activarUbicacion{
    position: relative;
}

.mensajes{
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color:#353535;
}


#mapa{
    display: none;
}

